# Токен для Telegram бота
TG_TOKEN=your_telegram_token_here

# Ключ для OpenAI API
OPENAI_KEY=your_openai_key_here

# URL для подключения к базе данных
DB_URL=your_database_url_here

# URL для подключения к Redis
REDIS_URL=your_redis_url_here
